

.paper {
  padding: 20px;
  margin: auto;
  text-align: center;
  width: 50%;
}
.layout {
  padding: 0 !important;
   margin: 0 !important;
   background-color: #fafafa !important;
}
.para{
  text-align: center !important;
  margin: auto !important;
}

.parent{
  padding: 5%;
}


@media (max-width: 600px) {
  .paper {
    width: 90%;
  }
}